PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/mobimend
JWT_SECRET=change_this_secret
ADMIN_SETUP_TOKEN=change_this_setup_token
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_this_password
ADMIN_NAME=Admin
